*.pyc
logs
__pycache__
build.ninja
.ninja_deps
.ninja_log
*.ninja_syntax.py
*Dockerfile
.deps_to_ninja_container_marker
.get_fundamental_packages_container_marker
.get_fundamental_packages_marker
.pull_arch
