.header{
}
.sidebar ul{
  padding-left: 15px;
  list-style: none;
  border-left: 1px dotted #ddd;
}
.sidebar{
  float: left;
  width: 400px;
  min-width: initial;
  clear: none;
  position: fixed;
  overflow: scroll;
  height: 99%;
  box-shadow: 1px 1px 10px #333;
  margin-left: -10px;
  margin-top: -10px;
  padding-bottom: 20px;
}
.build_list{
  float: left;
  min-width: initial;
  clear: none;
  margin-left: 430px;
}
