.header{
  position: fixed;
  width: 400px;
  min-width: initial;
}
.sidebar ul{
  padding-left: 15px;
  list-style: none;
  border-left: 1px dotted #ddd;
}
.sidebar{
  float: left;
  width: 400px;
  min-width: initial;
  clear: none;
  position: fixed;
  overflow: scroll;
  height: 80%;
  margin-top: 150px;
}
.build_list{
  float: left;
  min-width: initial;
  clear: none;
  margin-left: 430px;
  margin-top: 30px;
}
