<!DOCTYPE html>
<html>
<!-- Jinja template for a list of packages

  Copyright 2016 Kareem Khazem. All Rights Reserved.
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

 		 http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
  implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<table>
  <tr>
    {% for tc in toolchains %}<th>{{ tc }}</th>
    {% endfor %}
    <th>
      Build Name
    <th>
  </tr>
  {% for build_name, obj in builds.iteritems() %}<tr>
    {% for tc in toolchains %}
      {% if obj[tc] %}
        {% if obj[tc]["return_code"] %}
        <td class="no-build-cell">
          <a href="../{{ tc }}/{{ build_name }}.html">y</a>
        </td>
        {% else %}
        <td class="build-cell">
          <a href="../{{ tc }}/{{ build_name }}.html">y</a>
        </td>
        {% endif %}
      {% else %}
        <td class="unknown-cell">
        </td>
      {% endif %}
    {% endfor %}
    <td>{{ build_name }}</td>
  </tr>{% endfor %}
</table>
